.teste {
    color: blue;
    font-size: 40px;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #212529

}

.not-visible{
    display: none;
}

#spinner-box {
    width:100px;
    height:100px;
    position:absolute;
    top:30%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
}