{% extends 'base.html' %}


{% block main %}
{% load crispy_forms_tags %}
<!-- Spinner -->

<div id="spinner-box" class='container text-center mt-3 not-visible'>
    <div class="spinner-grow text-primary" role="status">
        
    </div>
    <div class="text-primary">gerando previsões...</div>
</div>

<!-- Ínicio -->
<div id="container-index" class="container">
    <p>
    <form action="{% url 'resultados' %}" method="POST">
        {% csrf_token %}
        <h1> Simulador @Return </h1>
        <div class="mb-3">
            {{form.acao|as_crispy_field}}
        </div>
        
        <div  class="mb-3">
            {{form.field|as_crispy_field}}
        </div>

        <div  class="mb-3">
            {{form.algo|as_crispy_field}}
        </div>
        
        
        <button id="button-search" type="submit" class="btn btn-primary">Calcula previsões</button>

    </form>
    </p>
    <p>   
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Como usar?</h5>
          <h6 class="card-subtitle mb-2 text-muted">Muito simples ... </h6>
          <p class="card-text">Coloque o nome da ação que deseja saber a previsão, a data-base de cálculo, o algoritmo e veja os resultados :)</p>
        </div>
      </div>
    </p>
</div>  
{% include 'footer.html' %} 



{% endblock %}