{% extends 'base.html' %}
{% block main%}
    <p>
        <div id="data-box" class="container" >
            <div class="row">
                <p>Resultados para {{ticker}}</p>
                {% if algo == 'Naive Bayes' or algo == 'all' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nayve Bayes</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Data-base - {{start}}</h6>
                        <p class="card-text">Para este algoritmo hoje é dia de <strong>{{class_naive_verbose}}</strong></p>
                        <a href="detalhe/Naive%20Bayes">mais...</a>
                    </div>
                </div>
                {% endif %}

                {{form.field.data}}

                {% if algo == 'arvores' or algo == 'all' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Árvores de Decisão</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Data-base - {{start}}</h6>
                        <p class="card-text">Para este algoritmo hoje é dia de <strong>{{class_arvores_verbose}}</strong></p>
                        <a href="detalhe/arvores">mais...</a>
                    </div>
                </div>
                {% endif %}
                
                {% if algo == 'random' or algo == 'all' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Random Forest</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Data-base - {{start}}</h6>
                        <p class="card-text">Para este algoritmo hoje é dia de <strong>{{class_random_verbose}}</strong></p>
                        <a href="detalhe/random">mais...</a>
                    </div>
                </div>
                {% endif %}
                
                {% if algo == 'knn' or algo == 'all' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">KNN</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Data-base - {{start}}</h6>
                        <p class="card-text">Para este algoritmo hoje é dia de <strong>{{class_knn_verbose}}</strong></p>
                        <a href="detalhe/knn">mais...</a>
                    </div>
                </div>
                {% endif %}
               
                {% if algo == 'svc' or algo == 'all' %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SVC</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Data-base - {{start}}</h6>
                        <p class="card-text">Para este algoritmo hoje é dia de <strong>{{class_svc_verbose}}</strong></p>
                        <a href="detalhe/svc">mais...</a>
                    </div>
                </div>
                {% endif %}
            </div>        
        </div>
    </p>

    <script>

        Swal.fire('oi')
    

    </script>
{% include 'footer.html'%}

{% endblock%}