{% extends 'base.html' %}

{% block main %}
    <div class="container">

        
        {% if algo == 'Naive Bayes' %}
        <p>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{algo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{class_naive_verbose}}</h6>
                    <p class="card-text">O Algoritmo Naive Bayes funciona como classificador e baseia-se na probabilidade de cada evento ocorrer, desconsiderando a correlação entre features. Por ter uma parte matemática relativamente simples, possui um bom desempenho e precisa de poucas observações para ter uma boa acurácia. Uma aplicação bastante comum é para identificar se um determinado e-mail é um spam ou não.
                      </p>
                    <p>A probalidade para <strong>{{class_naive_verbose}}</strong> é de <strong>{{class_naive}}</strong></p> 
                    <p>A média dos resultados é: <strong>{{media_naive}}</strong> e o desvio padrão é:  <strong>{{desvio_naive}}</strong></p> 
                    <a href="javascript:history.back()">voltar ...</a>
                </div>
            </div>
        </p>
        {% endif %}

        {% if algo == 'arvores' %}
        <p>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{algo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{class_arvores_verbose}}</h6>
                    <p class="card-text">Uma árvore de decisão é uma ferramenta de suporte à tomada de decisão que usa um gráfico no formato de árvore e demonstra visualmente as condições e as probabilidades para se chegar a resultados. O algoritmo utilizado para chegar na representação visual da árvore pertence ao grupo de aprendizado de máquina supervisionado, e funciona tanto para regressão quanto para classificação.</strong></p>
                    <p>A probalidade para <strong>{{class_arvores_verbose}}</strong> é de <strong>{{class_arvores}}</strong></p> 
                    <p>A média dos resultados é: <strong>{{media_arvores}}</strong> e o desvio padrão é:  <strong>{{desvio_arvores}}</strong></p> 
                    <a href="javascript:history.back()">voltar ...</a>
                </div>
            </div>
        </p>
        {% endif %}

        {% if algo == 'random' %}
        <p>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{algo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{class_random_verbose}}</h6>
                    <p class="card-text">Floresta Aleatória (Random Forest) é um algoritmo de aprendizagem de máquina flexível e fácil de usar que produz excelentes resultados a maioria das vezes, mesmo sem ajuste de hiperparâmetros. É também um dos algoritmos mais utilizados, devido à sua simplicidade e o fato de que pode ser utilizado para tarefas de classificação e também de regressão.</strong></p>
                    <p>A probalidade para <strong>{{class_random_verbose}}</strong> é de <strong>{{class_random}}</strong></p> 
                    <p>A média dos resultados é: <strong>{{media_random}}</strong> e o desvio padrão é:  <strong>{{desvio_random}}</strong></p> 
                    <a href="javascript:history.back()">voltar ...</a>
                </div>
            </div>
        </p>
        {% endif %}

        {% if algo == 'knn' %}
        <p>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{algo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{class_knn_verbose}}</h6>
                    <p class="card-text">KNN pode ser usado para problemas de classificação e regressão. O algoritmo usa ‘ similaridade de recurso ‘ para prever valores de quaisquer novos pontos de dados. Isso significa que o novo ponto recebe um valor baseado em quão próximo ele se parece dos pontos no conjunto de treinamento. </strong></p>
                    <p>A probalidade para <strong>{{class_knn_verbose}}</strong> é de <strong>{{class_knn}}</strong></p> 
                    <p>A média dos resultados é: <strong>{{media_knn}}</strong> e o desvio padrão é:  <strong>{{desvio_knn}}</strong></p> 
                    <a href="javascript:history.back()">voltar ...</a>
                </div>
            </div>
        </p>
        {% endif %}
        
        {% if algo == 'svc' %}
        <p>
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{algo}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{class_svc_verbose}}</h6>
                    <p class="card-text">O algoritmo irá separar os pontos de dados usando uma linha. Esta linha é escolhida de tal forma que será mais importante dos pontos de dados mais próximos em 2 categorias.</strong></p>
                    <p>A probalidade para <strong>{{class_svc_verbose}}</strong> é de <strong>{{class_svc}}</strong></p> 
                    <p>A média dos resultados é: <strong>{{media_svc}}</strong> e o desvio padrão é:  <strong>{{desvio_svc}}</strong></p> 
                    <a href="javascript:history.back()">voltar ...</a>
                </div>
            </div>
        </p>
        {% endif %}
    </div>
{% include 'footer.html'%}
{% endblock %}